@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --light-gray: hsl(204, 43%, 93%);--grayish-blue: hsl(218, 22%, 67%);
    --cyan: hsl(179, 62%, 43%); 
    --bright-yellow: hsl(71, 73%, 54%);
}
html{
    font-size: 62.5%;
    font-family: 'karla', sans-serif;
}
body{
    line-height: 1;
    overflow-x: hidden;
}

main{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

section {
    width: 65rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}
h1{
    font-weight: 700;
}
p,a{
    font-weight: 400;
    font-size: 1.6rem;
}
.span--1{
    grid-column: 1 / -1;
}
.bg1{
    background-color: var(--light-gray);
}
.bg2 {
    background-color: var(--cyan);
}
.bg3 {
    background-color: hsla(179, 62%, 46%, 0.813);
}
.b-t-l{
    border-top-left-radius: 10px;
}
.b-t-r {
    border-top-right-radius: 10px;
}
.b-b-l {
    border-bottom-left-radius: 10px;
}
.b-b-r {
    border-bottom-right-radius: 10px;
}

.container {
   padding: 4rem 8rem 4rem 4rem; 
}
.container h1{
    color: var(--cyan);
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
}
.container h1+p{
    color: var(--bright-yellow);
    margin-bottom: 1.5rem;
}
.p1{
    color: var(--grayish-blue);
    line-height: 1.6;
}


.container h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--light-gray);
    font-weight: 400;
}
.main2{
    padding-right: 4rem;
}
.p2{
    color: hsl(179, 68%, 69%);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.p2 span{
    color: var(--light-gray);
    font-size: 2.8rem;
    font-weight: 700;
    margin-right: 1rem;
}
.p2+p{
    color: var(--light-gray);
    margin-bottom: 3.8rem;
}
.container a:link, .container a:visited{
    color: var(--light-gray);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1.5rem;
    background-color: var(--bright-yellow);
    border-radius: 5px;
    line-height: 1.4;
}

.p3 p{
    line-height: 1.3;
    color: var(--light-gray);
}


/* queries */

@media (max-width: 460px) {
    html{
        font-size: 50%;
    }
    main{
        padding: 2rem;
        max-width: 460px;
    }
    section{
        grid-template-columns: 1fr;
        width: 40rem;
        margin: 2rem;
    }
    .container {
        padding: 4rem;
    }
    .container h1+p {
       font-size: 1.8rem;
    }

    .p2 {
        font-size: 1.7rem;
    }

    .p2+p {
        margin-bottom: 3rem;
    }

    .p3 p {
        line-height: 1.4;
    }

    .bbn{
        border-bottom-left-radius: 0;
    }
    .bbl{
        border-bottom-left-radius: 10px;
    }
}

.attribution {
    font-size: 1.5rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}